# Telegram Bot
BOT_TOKEN=8595082504:AAHxCYF3gu_Q_yhDP0Kb0fDB8FuqX_ncCew
ALLOWED_USERS=5709465742

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=esim
DB_USER=postgres
DB_PASSWORD=B1ceL1n5aaA!
DATABASE_URL=postgresql://postgres:B1ceL1n5aaA!@localhost:5432/esim
